@model DemoApplication.Customer

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Company_Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Company_Name)
    @Html.ValidationMessageFor(model => model.Company_Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Contact_Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Contact_Name)
    @Html.ValidationMessageFor(model => model.Contact_Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Contact_Title)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Contact_Title)
    @Html.ValidationMessageFor(model => model.Contact_Title)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Address)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Address)
    @Html.ValidationMessageFor(model => model.Address)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Region)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Region)
    @Html.ValidationMessageFor(model => model.Region)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Postal_Code)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Postal_Code)
    @Html.ValidationMessageFor(model => model.Postal_Code)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Country)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Country)
    @Html.ValidationMessageFor(model => model.Country)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Phone)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Phone)
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Fax)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Fax)
    @Html.ValidationMessageFor(model => model.Fax)
</div>

