@model DemoApplication.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">Company_Name</div>
    <div class="display-field">@Model.Company_Name</div>

    <div class="display-label">Contact_Name</div>
    <div class="display-field">@Model.Contact_Name</div>

    <div class="display-label">Contact_Title</div>
    <div class="display-field">@Model.Contact_Title</div>

    <div class="display-label">Address</div>
    <div class="display-field">@Model.Address</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">Region</div>
    <div class="display-field">@Model.Region</div>

    <div class="display-label">Postal_Code</div>
    <div class="display-field">@Model.Postal_Code</div>

    <div class="display-label">Country</div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label">Phone</div>
    <div class="display-field">@Model.Phone</div>

    <div class="display-label">Fax</div>
    <div class="display-field">@Model.Fax</div>

    <div class="display-label">Orders</div>
    <div class="display-field">@(Model.Orders == null ? "None" : Model.Orders.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Customer_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


